node_modules
dist
static/scramjet*
static/bare-mux.js
static/bare-client.js
static/curl-client.js
static/epoxy-client.js
static/bare-mux-worker.js
meta.json
rewriter/target
rewriter/wasm/out
static/wasm.js
rewriter/*.js
playwright-report
test-results
*.tgz
package-lock.json
rebuild.sh

# Typedoc
_docs/
_docs-dev/
existing-typedoc/
existing-typedoc-dev/
staticbuild/
typedoc-*.tar.gz
typedoc-*.tar.gz-dev

# Rslib (For global type generation)
.rslib/
lib/rslibOutput/
lib/temp/
