[submodule "dreamlandjs"]
	path = dreamlandjs
	url = https://github.com/MercuryWorkshop/dreamlandjs
[submodule "playwright"]
	path = playwright
	url = https://github.com/HeyPuter/playwright
[submodule "chii"]
	path = chii
	url = https://github.com/HeyPuter/chii
