html,
body {
	width: 100vw;
	height: 100vh;
	padding: 0;
	margin: 0;
	--bg: #121212;
	--bg01: #1e1e1e;
	--bg02: #222222;
	--bg03: #242424;
	--bg04: #272727;
	--bg06: #2c2c2c;
	--bg08: #2e2e2e;
	--bg12: #333333;
	--bg16: #353535;
	--bg20: #383838;
	--dp01: rgb(255 255 255 / 5%);
	--dp02: rgb(255 255 255 / 7%);
	--dp03: rgb(255 255 255 / 8%);
	--dp04: rgb(255 255 255 / 9%);
	--dp06: rgb(255 255 255 / 11%);
	--dp08: rgb(255 255 255 / 12%);
	--dp12: rgb(255 255 255 / 14%);
	--dp16: rgb(255 255 255 / 15%);
	--dp20: rgb(255 255 255 / 16%);
	--fg: #e0e0e0;
	--fg2: #a0a0a0;
	--fg3: #808080;
	--fg4: #606060;
	--accent: #4285f4;
	--font: "Inter", system-ui, sans-serif;

	--radius: 0.5em;

	font-family: var(--font);
	color: var(--fg);
	background: var(--bg);
}
* {
	box-sizing: border-box;
}
