body,
html,
#app {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
html,
body {
	--bg: #121212;
	--bg01: #1e1e1e;
	--bg02: #222222;
	--bg03: #242424;
	--bg04: #272727;
	--bg06: #2c2c2c;
	--bg08: #2e2e2e;
	--bg12: #333333;
	--bg16: #353535;
	--bg20: #383838;
	--dp01: rgb(255 255 255 / 5%);
	--dp02: rgb(255 255 255 / 7%);
	--dp03: rgb(255 255 255 / 8%);
	--dp04: rgb(255 255 255 / 9%);
	--dp06: rgb(255 255 255 / 11%);
	--dp08: rgb(255 255 255 / 12%);
	--dp12: rgb(255 255 255 / 14%);
	--dp16: rgb(255 255 255 / 15%);
	--dp20: rgb(255 255 255 / 16%);
	--fg: #e0e0e0;
	--fg2: #a0a0a0;
	--fg3: #808080;
	--fg4: #606060;
	--fg5: #404040;
	--accent: #4285f4;
	--font: "Inter", system-ui, sans-serif;

	--radius: 0.5em;

	font-family: var(--font);
	color: var(--fg);
	background: var(--bg);
}

body.light-mode {
	--bg: #ffffff;
	--bg01: #f5f5f5;
	--bg02: #eeeeee;
	--bg03: #e0e0e0;
	--bg04: #d6d6d6;
	--bg06: #cccccc;
	--bg08: #c2c2c2;
	--bg12: #b8b8b8;
	--bg16: #aeaeae;
	--bg20: #a4a4a4;
	--dp01: rgb(0 0 0 / 5%);
	--dp02: rgb(0 0 0 / 7%);
	--dp03: rgb(0 0 0 / 8%);
	--dp04: rgb(0 0 0 / 9%);
	--dp06: rgb(0 0 0 / 11%);
	--dp08: rgb(0 0 0 / 12%);
	--dp12: rgb(0 0 0 / 14%);
	--dp16: rgb(0 0 0 / 15%);
	--dp20: rgb(0 0 0 / 16%);
	--fg: #000000;
	--fg2: #606060;
	--fg3: #808080;
	--fg4: #a0a0a0;
	--accent: #1a73e8;
}

:root {
	font-family: serif;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: 2em;
}

button {
	border: none;
	background: none;
	color: var(--fg);
	padding: 0;
	cursor: pointer;
	font-family: var(--font);
}
